# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
.venv/

# SQLite cache
*.db

# Config files
config.py

# IDE
.vscode/
.idea/

# OS
.DS_Store
.Rhistory

# Environment variables
.env
